# use glob syntax.
syntax: glob
target
.settings
.project
.classpath
.idea
*.iml
*.orig
.vlt
.DS_Store
atlassian-ide-plugin.xml
.sass-cache
**/jcr_root/META-INF
**/jcr_root/WEB-INF
release.properties
*.xml.releaseBackup